# ──────────────────────────────────────────────
#  Agora Credentials
#  Получить на: https://console.agora.io
# ──────────────────────────────────────────────
AGORA_APP_ID=838aebbd02414a688c47b9b8f3633677
AGORA_APP_CERTIFICATE=57279cb1886c4678b2a04c029d6ef1e5
